table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
	

	text-align: center;
}
th{
    font-size: 1.3em;
    text-decoration: underline; 
}
tbody.scrollContent {
	display: block;
	overflow: auto;
	overflow-y: auto;
	overflow-x: auto;
	height: 700px;
	
}
thead.fixedHeader {
	display: block;
	position: relative;
}
tr:nth-child(even) {
	background-color: #ffea7f; /*yellow*/
}
tr:nth-child(odd) {
	background-color:#c5e465; /*green*/
}



#glsfnf {
	color: #555fff;
	font-size: 0.9em;
}
#menuCategory td {
	border: none;
	column-fill: auto;
	column-span: all;
}

 
	 

table.a{
	min-width: 300px; 
	max-width: 682px; 
        font-size: 0.9em;
        
    
}

	

table.b {
	min-width: 100px;
	max-width: 700px; 
        font-size: 0.90em;
         
}
table.b td{
	width: 600px;
}
.c {
    height: 50px; 
}
@media screen and (max-width: 540px) {
table.a{
	font-size: 0.6em; 
        font-weight: bold; 
    
}
}